:root{font:400 62.5%/1.8 -apple-system,"Lucida Grande","Helvetica Neue","Hiragino Kaku Gothic ProN","游ゴシック","メイリオ",meiryo,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#333;}
#site-main{padding-bottom:15vh;}
.sizuku{animation:sizuku 1s linear 0s;background-color:#6eb2e0;border:4px solid #6eb2e0;border-radius:50%;position:absolute;z-index:1000;}
@keyframes sizuku{0%{height:0;width:0;opacity:1;transform:translate(0,0);}100%{height:500px;width:500px;opacity:0;transform:translate(-250px,-250px);}}
/*menu-buttons#share-check,#main-check{display:none;}*/
.toggle-zone{height:15vh;width:100vw;position:fixed;bottom:0;left:0;z-index:100;background-color:#ffcc00;color:#fff;font-family:"FontAwesome";font-size:200%;line-height:15vh;text-align:center;vertical-align:baseline;opacity:.85;box-shadow:0 0 15px rgba(0,0,0,.3);}
#share-toggle,#share-menu-toggle,#menu-toggle{display:inline-block;height:inherit;width:33%;cursor:pointer;}
#share-toggle,#share-menu-toggle{color:#00a5de;}
/*menu*/
#share-menu,#main-menu{height:80vh;width:86vw;margin:35px 7vw 0;position:fixed;top:0;left:0;z-index:111;overflow-x:hidden;overflow-y:scroll;opacity:.85;box-shadow:0 0 15px rgba(0,0,0,.3);}
.open{visibility:visible;}
.close{visibility:hidden;}
#share-menu{color:#fff;background-color:#ffcc00;display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:center;}}
#share-menu li{display:inline-block;width:50%;height:30%;}
.tweet{background-color:#55acee;}
.fb-ilke{background-color:#3b5998;}
.line{background-color:#6cc655;}
.g-plus{background-color:#dc4e41;}
.linkedin{background-color:#36465d;}
.hatebu{background-color:#00a5de;font-weight:900;}
.pocket{background-color:#ef3f56;}
.pinterest{background-color:#bd081c;}
.tumblr{background-color:#36465d;}
.embedly{background-color:#55acee;}
#main-menu{color:#333;background-color:#fff;}
.widget-area{list-style:none;}
.widget-area h2{min-height:45px;max-width:94%;margin:10px auto;line-height:45px;text-align:center;color:#fff;background-color:#ffcc00;box-shadow:0 3px 6px rgba(0,0,0,.1);}
.widget_search{margin:inherit auto;}
/*original-widget*/

/*card-list*/
.card-list{background-color:#f1f1f1;}
.card{height:45vmin;width:80vmin;margin:2.5vmin 10vmin;padding:3vmin;border-radius:5px;text-align:center;background-color:#fff;box-shadow:0 0 15px rgba(0,0,0,.3);}
.card img{display:block;float:left;max-height:39vmin;}
.card h1,.card h2{display:inline-block;height:50%;margin:0 1em;font-size:2rem;}
.card span{display:inline-block;height:30%;margin:0 1em;}
.card p{display:inline-block;height:20%;margin:0 1em;}
.card img,.article-info{max-width:calc(80vmin / 2);}
.article-info{float:right;}
.site-info{text-align:center;}
/*レスポンシブページネーション*/
.pagenation{list-style:none;min-height:10vw;max-width:80vw;margin:5vmin auto;background-color:#fff;box-shadow:0 0 15px rgba(0,0,0,.3);display:flex;flex-wrap:wrap;justify-content:center;align-items:center;}
.pagenation a,.pagenation .current{padding:2vmin;border:solid .5vmin #00a5de;font-weight:bold;}
.pagenation a{background-color:#fff;color:#00a5de;text-decoration:none;}
.pagenation a:hover,.pagenation .current{color:#fff;background-color:#00a5de;}
/*
    article-style
1.header&man
2.link
3.h1&h2&h3&h4&h5&h6
4.pre&address&code
5.table
*/
.article-header{text-align:center;}
.article-main{padding:5vmin 8vmin 0;}
.article-main a{border-bottom:0;}
.article-main a::before{content:'';border-bottom:solid 1px #0000ff;position: absolute;left:0;bottom:0;width:100%;opacity:0;-webkit-transition:all 0.2s ease;transition:all 0.2s ease;}
.article-main a:hover::before{opacity:1.0;}
.article-main:visited{color:#934c7b;}

.article-main h2,.article-main h3,.article-main h4,.article-main h5,.article-main h6{min-height:45px;max-width:90%;margin:10px auto;line-height:45px;text-align:center;}
.article-main h2{color:#fff;background-color:#ffcc00;box-shadow:0 3px 6px rgba(0,0,0,.1);}
.article-main h3{padding:.5em .75em;background-color:#f4f4f4;border-top:1px dashed #ccc;border-bottom:1px dashed #ccc;box-shadow:0 7px 10px -5px rgba(0,0,0,.1) inset;}
.article-main h4{border-left:10px solid #ffcc00;border-bottom:1px solid #ffcc00;}
.article-main h5{border-left:10px solid #ffcc00;}
.article-main h6{border-bottom:.75vmin dashed #ffcc00;}

.article-main pre,.article-main address{padding:3% 0 3% 8%;background-color:#f1f1f1;border:1px solid #333;border-radius:5px;}
.microlight{font-family:monospace;white-space:pre;background-color:#C4E4E8;color:#052C36;}

.article-main table{width:100%;table-layout:fixed;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #cfcfcf;}
.article-main table caption{padding:1em;line-height:1.5;text-align:center;background-color:#ffc045;}
.article-main table tr th{background-color:#f1f1f1;}
.article-main table tr th,.article-main table tr td{padding:1em;line-height:1.5;text-align:center;border:1px solid #cfcfcf;}
/*tag-list*/
.article-tag{margin:3vmin;padding:0;list-style:none;}
.article-tag li{display:inline-block;margin:0 .3em .3em 0;padding:0;}
.article-tag li a{display:inline-block;max-width:100px;height:28px;line-height:28px;padding:0 1em;background-color:#fff;border:1px solid #aaa;border-radius:3px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:#333;font-size:13px;text-decoration:none;-webkit-transition:.2s;transition:.2s;}
.article-tag li a:hover{background-color:#00a5de;border:1px solid #00a5de;color:#fff;}
/*codex*/
.alignnone {margin: 5px 20px 20px 0;}
.alignright{float:right;margin:5px 0 20px 20px;}
.aligncenter,div.aligncenter{display:block;margin:5px auto;}
.alignleft{float:left;margin:5px 20px 20px 0;}

a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft{float:left;margin:5px 20px 20px 0;}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
a img.alignright{float:right;margin:5px 0 20px 20px;}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {margin:5px 20px 20px 0;}
.wp-caption.alignleft {margin:5px 20px 20px 0;}
.wp-caption.alignright {margin:5px 0 20px 20px;}
.wp-caption img{height:auto;width:auto;max-width:98.5%;border:0 none;margin:0;padding:0;}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*media queri*/
@media screen and (orientation:landscape){
    /*pc-style*/
    @media screen and (min-width:1920px){
        .info-card,.card{height:36vmin;width:64vmin;}
        .card img{max-height:30vmin;}
        .card img,.article-info{max-width:calc(64vmin / 2);}
    }
    @media screen and (min-width:721px){
    	.card{margin:2.5vmin 0;}
    	.article-list{display:-webkit-flex;display:flex;justify-content:space-around;align-items:baseline;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-content:space-around;align-content:space-around;}
    	.info-card{height:30vmin;width:160vmin;margin:2vmin auto;}
    }
    /*tablet-style*/
    @media screen and (max-width:720px){
    	.info-card{height:45vmin;width:80vmin;}
    	.card{margin:2.5vmin auto;}
    	/*article-table*/
    	.article-main table,.article-main table caption.article-main table thead,.article-main table tbody,.article-main table tr,.article-main table tr th,.article-main table tr td{display:block;}
    	.article-main table tr th,.article-main table tr td{margin:-1px;}
    	.article-main table thead{display:none;}
    	.article-main table tbody tr td[data-th]::before{content:attr(data-th) " : ";font-weight:bold;display:inline-block;margin-right:0.25em;}
    }
}
/*phone-size*/
@media screen and (orientation:portrait){
    @media screen and (max-width:1270px){
        .info-card{height:45vmin;width:80vmin;}
        .card{margin:2.5vmin auto;}
        /*article-table*/
        .article-main table,.article-main table caption.article-main table thead,.article-main table tbody,.article-main table tr,.article-main table tr th,.article-main table tr td{display:block;}
        .article-main table tr th,.article-main table tr td{margin:-1px;}
        .article-main table thead{display:none;}
        .article-main table tbody tr td[data-th]::before{content:attr(data-th) " : ";font-weight:bold;display:inline-block;margin-right:0.25em;}
    }
}
