:root{max-width:100%;font:400 62.5%/1.8 -apple-system,"Lucida Grande","Helvetica Neue","Hiragino Kaku Gothic ProN","游ゴシック","メイリオ",meiryo,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#333;}
#site-main{padding-bottom:18vh;}
.sizuku{animation:sizuku 1s linear 0s;background-color:#6eb2e0;border:4px solid #6eb2e0;border-radius:50%;position:absolute;z-index:1000;}
@keyframes sizuku{0%{height:0;width:0;opacity:1;transform:translate(0,0);}100%{height:500px;width:500px;opacity:0;transform:translate(-250px,-250px);}}
/*
	メニュー
1.フッターのメニュー展開用ボタン
2.メニューの共通スタイル
3.シェアメニュー
4.メインメニュー
5.管理者メニュー
6.ソーシャルナビゲーション
7.ウィジェットエリア
*/
.toggle-zone{height:15vh;width:100%;position:fixed;bottom:0;left:0;z-index:100;background-color:#ffcc00;color:#00a5de;font-family:"FontAwesome";font-size:200%;line-height:15vh;text-align:center;vertical-align:baseline;opacity:.85;box-shadow:0 0 15px rgba(0,0,0,.3);}
#share-toggle,#share-menu-toggle,#menu-toggle{display:inline-block;height:inherit;width:33%;cursor:pointer;}
#menu-toggle{color:#fff;}

#share-menu,#main-menu{height:80vh;width:86vw;margin:35px 7vw 0;position:fixed;top:0;left:0;z-index:111;overflow-x:hidden;overflow-y:auto;opacity:.85;box-shadow:0 0 15px rgba(0,0,0,.3);}
.open{visibility:visible;}
.close{visibility:hidden;}

#share-menu ul{list-style:none;display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:center;padding:0;margin:0;}
#share-menu ul li{width:50%;height:25vh;text-align:center;}
#share-menu ul li a{position:relative;top:35%;color:#fff;}
.tweet{background-color:#55acee;}
.fb-like{background-color:#3b5998;}
.line,.evernote{background-color:#6cc655;}
.reddit{background-color:#ffcc00;}
.g-plus{background-color:#dc4e41;}
.linkedin{background-color:#36465d;}
.pinterest{background-color:#bd081c;}
.hatebu{background-color:#00a5de;font-size:3rem;font-weight:900;}
.pocket{background-color:#ef3f56;}
.tumblr{background-color:#36465d;}
.embedly{background-color:#55acee;}

#main-menu{color:#333;background-color:#fff;}

.admin-navigation{margin:2vmin auto;}
.admin-navigation ul{list-style-type:none;display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:center;}
.admin-navigation ul li{width:5%;}
.admin-navigation ul li a{text-decoration:none;}
.addpost::before,.wlwedit::before,.post-edit-link::before{content:'\f040';font-family:"FontAwesome";font-size:2.4rem;color:green;}
.addpost::after{content:'\f067';font-family:"FontAwesome";font-size:calc(2.4rem * 0.8);}

.social-navigation ul{list-style:none;margin:0 0 -1.6em 0;}
.social-navigation li{float:left;}
.social-navigation a{display:block;position:relative;height:3.2em;width:3.2em;}
.social-navigation a::before{display:inline-block;font:400 24px/1.8 "FontAwesome";font-style:normal;font-variant:normal;speak:none;text-align:center;text-decoration:inherit;text-transform:none;content:"\f07b";position:absolute;top:0;left:0;}
.social-navigation a[href*="/feed"]::before,.social-navigation a[href*="/feed/"]::before{content:"\f09e";color:#2aff00;}
.social-navigation a[href*="feedly.com"]::before{content:"\f143";color:#2aff00;transform: rotate(-15deg);}
.social-navigation a[href*="codepen.io"]::before{content:"\f1cb";color:#ffc700;}
.social-navigation a[href*="digg.com"]::before{content:"\f1a6";}
.social-navigation a[href*="dribbble.com"]::before{content:"\f17d";}
.social-navigation a[href*="dropbox.com"]::before{content:"\f16b";color:#00b8ff;}
.social-navigation a[href*="facebook.com"]::before{content:"\f230";color:#0033ff;}
.social-navigation a[href*="flickr.com"]::before{content:"\f16e";}
.social-navigation a[href*="foursquare.com"]::before{content:"\f180";}
.social-navigation a[href*="plus.google.com"]::before{content:"\f0d5";color:#ff0033;}
.social-navigation a[href*="github.com"]::before{content:"\f09b";}
.social-navigation a[href*="instagram.com"]::before{content:"\f09b";}
.social-navigation a[href*="linkedin.com"]::before{content:"\f0e1";color:#0077b5;}
.social-navigation a[href*="mailto:"]::before{content:"\f0e0";}
.social-navigation a[href*="pinterest.com"]::before{content:"\f231";color:#ff0033;}
.social-navigation a[href*="getpocket.com"]::before{content:"\f265";color:#ee4056;}
.social-navigation a[href*="polldaddy.com"]:before{content:"\f200";}
.social-navigation a[href*="reddit.com"]::before{content:"\f1a1";}
.social-navigation a[href*="stumbleupon.com"]::before{content:"\f1a4";}
.social-navigation a[href*="tumblr.com"]::before{content:"\f173";color:#2c4762;}
.social-navigation a[href*="twitter.com"]::before{content:"\f099";color:#00b8ff;}
.social-navigation a[href*="twilog.org"]::before{content:"\f099";color:#00b8ff;}
.social-navigation a[href*="twilog.org"]::after{content:"\f022";font-family:"FontAwesome";font-size:16px;position:relative;right:1em;bottom:0;}
.social-navigation a[href*="twipf.jp"]::before{content:"\f099";color:#00b8ff;}
.social-navigation a[href*="twipf.jp"]::after{content:"\f007";font-family:"FontAwesome";font-size:16px;position:relative;right:0;bottom:0;}
.social-navigation a[href*="vimeo.com"]::before{content:'\f27d';}
.social-navigation a[href*="youtube.com"]::before{content:'\f167';color:#ff0033;}
.social-navigation a[href*="spotify.com"]::before{content:'\f1bc';}
.social-navigation a[href*="soundcloud.com"]::before{content:'\f1be';}
.social-navigation a[href*="twitch.tv"]::before{content:'\f1e8';}
.social-navigation a[href*="goo.gl/forms/"]::before{content:'\f128';}
.social-navigation a[href*="skype.com"]::before{content:'\f17e';}
.social-navigation a[href*="wordpress.com"]::before,.social-navigation a[href*="wordpress.org"]::before{content:'\f19a';color:#0033ff;}
.social-navigation a[href*="push.dog"]::before,.social-navigation a[href*="onesignal.com"]::before{content:'\f0f3';}
.social-navigation a[href*="push7.jp"]::before{content:'\f0e7';}

.main-nav{list-style-type:none;}

.widget-area{list-style:none;}
.widget-area h2{min-height:45px;max-width:94%;margin:10px auto;line-height:45px;text-align:center;color:#fff;background-color:#ffcc00;box-shadow:0 3px 6px rgba(0,0,0,.1);}
/*
	ウィジェットカスタマイズ
1.タグクラウド
2.最近の投稿
3.月別アーカイブ
*/
.widget_tag_cloud{margin:3vmin;padding:0;}
.widget_tag_cloud a{display:inline-block;max-width:100px;height:28px;line-height:28px;padding:0 1em;margin:0 .3em .3em 0;background-color:#fff;border:1px solid #aaa;border-radius:3px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:#333;font-size:13px;text-decoration:none;-webkit-transition:.2s;transition:.2s;}
.widget_tag_cloud a:hover{background-color:#00a5de;border:1px solid #00a5de;color:#fff;}

.widget_recent_entries ul{list-style-type:none;}
.widget_recent_entries ul li{border-right:solid 1px #999;border-bottom:solid 1px #999;}
.widget_recent_entries ul li a{text-decoration:none;color:#333;font-size:1.6rem;}
.widget_recent_entries ul li span{font-size:calc(1.6rem * 0.8);}

.widget_archive ul{list-style-type:none;}
.widget_recent_entries ul li a{font-size:1.6rem;}
.widget_recent_entries ul li span{font-size:calc(1.6rem * 0.8);}
/*
    独自要素
1.マーカー
2,OGP版ブログカード
3.はてな版ブログカード
4.補足情報
5.検索風表示
*/
.marker{background-color:linear-gradient(transparent 30%,yellow 30%);}

.ogp-blogcard{display:block;min-height:10vh;max-width:80%;margin:3vmin auto;padding:2vmin 3vmin;border:1vmin solid #333;background-color:#fff;box-shadow:0 3px 6px rgba(0,0,0,.1);}
.ogp-blogcard-main{height:70%;width:100%;position:relative;top:0;}
.ogp-blogcard-img{display:inline-block;height:40%;width:40%;}
.ogp-blogcard-info{display:inline-block;width:55%;text-align:center;}
.ogp-blogcard-title{font-size:2rem;}
.ogp-blogcard-footer{height:30%;width:100%;position:relative;bottom:0;border-top:.1rem solid #333;vertical-align:middle;}

.hatenablogcarad{max-width:1600px;}

.information,.question{background-color:#f4f3eb;padding:2rem;padding-left:7rem;border-radius:8px;position:relative;margin:1em auto;}
.information::before,.question::before{color:#eae3b4;font-family:"FontAwesome";font-size:5rem;position:absolute;top:2vmin;left:1.5vmin;}
.information::before{content:'\f05a';}
.question::before{content:'\f059';}

.search-form{margin:3em 0;line-height:170%;}
.search-form div{display:inline-block;padding:5px;margin-left:1rem;border:1px solid #555;border-radius:2px;}
.search-form .sform{min-width:280px;background-color:#fff;}
.search-form .sbtn{position:absolute;padding-left:2rem;padding-right:3rem;color:#fff;background-color:#1155ee;}
.search-form div.sbtn:after{content:'\f25a';font-family:"FontAwesome";font-size:2.5rem;color:#000;position:absolute;bottom:-28px;}
/*
	リストページ
1.card-list
2.ページネーション
*/
.card-list{background-color:#f1f1f1;}
.card{height:45vmin;width:80vmin;margin:2.5vmin 10vmin;padding:3vmin;border-radius:5px;font-size:1.8rem;text-align:center;background-color:#fff;box-shadow:0 0 15px rgba(0,0,0,.3);}
.card img{display:block;float:left;max-height:39vmin;max-width:calc(80vmin / 2);vertical-align:middle;}
.card h1,.card h2{display:inline-block;height:50%;margin:0 1em;font-size:3rem;}
.card span{display:inline-block;height:30%;margin:0 1em;}
.card p{display:inline-block;height:20%;margin:0 1em;}
.card-info{max-width:calc(80vmin / 2);float:right;}
.site-info{text-align:center;}

.pagenation{list-style:none;min-height:10vw;max-width:80vw;margin:5vmin auto;background-color:#fff;box-shadow:0 0 15px rgba(0,0,0,.3);display:flex;flex-wrap:wrap;justify-content:center;align-items:center;}
.pagenation a,.pagenation .current{padding:2vmin;border:solid .5vmin #00a5de;font-weight:bold;}
.pagenation a{background-color:#fff;color:#00a5de;text-decoration:none;}
.pagenation a:hover,.pagenation .current{color:#fff;background-color:#00a5de;}
/*
    記事ページ
1.header&main
2.link
3.見出し
4.pre&address&blockquote
5.リスト
6.テーブル
7.独自要素
8.codex
*/
.article-header{height:55vh;width:92vw;margin:5vmin auto 0;background-color:#f1f1f1;font-size:1.6rem;text-align:center;vertical-align:middle;}
.article-eyecatch{height:32vh;width:92vw;}
.article-meta{height:23vh;width:92vw;position:absolute;}
.article-date{display:block;height:inherit;width:30%;position:relative;left:0;bottom:0;background-color:#ffcc00;color:#fff;font-size:2.3rem;line-height:23vh;}
.article-info{position:relative;right:0;bottom:0;}
.article-title{font-size:2rem;}
.bread{height:50%;}
.bread .sp{margin:0 .5em;}
.article-main{font-size:1.6rem;}
.article-main p{padding:5vmin 8vmin 0;}


.article-main a{text-decoration:none;border-bottom:0;}
.article-main a::before{content:'';width:100%;border-bottom:solid 1px #0000ff;position:absolute;left:0;bottom:0;-webkit-transition:all .4s ease;transition:all .4s ease;visibility:hidden;opacity:0;}
.article-main a:hover::before{visibility:visible;opacity:1.0;}
.article-main a:visited{color:#934c7b;}


.article-main h1,.article-main h2,.article-main h3,.article-main h4,.article-main h5,.article-main h6{min-height:45px;max-width:90%;margin:10px auto;line-height:45px;text-align:center;}
.article-main h3,.article-main h4,.article-main h5,.article-main h6{font-size:2rem;}
.article-main h1{border:1vmin solid #ffcc00;color:#ffcc00;box-shadow:0 3px 6px rgba(0,0,0,.1);}
.article-main h2{padding:.5em .75em;background-color:#f4f4f4;border-top:1px dashed #ccc;border-bottom:1px dashed #ccc;box-shadow:0 7px 10px -5px rgba(0,0,0,.1) inset;}
.article-main h3{color:#fff;background-color:#ffcc00;box-shadow:0 3px 6px rgba(0,0,0,.1);}
.article-main h4{border-left:10px solid #ffcc00;border-bottom:1px solid #ffcc00;}
.article-main h5{border-left:10px solid #ffcc00;}
.article-main h6{border-bottom:.75vmin dashed #ffcc00;}


.article-main blockquote,.article-main q,.article-main pre,.article-main address{padding:1em 2em;border:1px solid #bbb;border-radius:5px;background:#ddd;}
.article-main pre,.article-main address{max-width:94vw;margin:1em auto;}
.article-main pre{font-family:monospace;font-weight:bold;}
.article-main blockquote,.article-main q{quotes:none;}
.article-main blockquote::after{content:attr(title)'\a'attr(cite);display:block;padding-top:5px;border-top:1px solid #fff;color:#fff;text-align:right;white-space:-moz-pre-wrap;white-space:pre-wrap;word-wrap:break-word;}


.article-main ul{margin:2em auto;list-style:none;}
.article-main ul li::before{content:'●';display:inline;color:#aaa;font-size:.8em;padding-right:1em;}
.article-main ul li::after,.article-main ol li::after{content:'';display:block;height:0;width:100%;position:relative;top:0;left:0;border-bottom:1px dashed #aaa;}
.article-main ol li{padding-top:.1em;}


.article-main table{width:calc(100% - 16vmin);margin:0 8vmin;table-layout:fixed;-webkit-box-sizing:border-box;box-sizing:border-box;border-collapse:collapse;}
.article-main table caption{padding:1.2em;text-align:center;background-color:#ffc045;}
.article-main table tr th{background-color:#f1f1f1;}
.article-main table tr th,.article-main table tr td{padding:1.2em;text-align:center;border:1px solid #cfcfcf;}
.article-main table tr:last-child{border-left:none;}
.article-main table:last-child{border-bottom:none;}


.article-main .ogp-blogcard a:hover::before{opacity:0;}
.article-main .ogp-blogcard-title,.article-main .ogp-blogcard-description,.article-main .ogp-blogcard-site-name{color:#333;}
.article-main .ogp-blogcard-title{background-color:transparent;box-shadow:none;}


.alignnone{margin:5px 20px 20px 0;}
.alignright{float:right;margin:5px 0 20px 20px;}
.aligncenter,div.aligncenter{display:block;margin:1vh auto;}
.alignleft{float:left;margin:5px 20px 20px 0;}

a img.alignnone{margin: 5px 20px 20px 0;}
a img.alignleft{float:left;margin:5px 20px 20px 0;}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
a img.alignright{float:right;margin:5px 0 20px 20px;}

.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center;}
.wp-caption.alignnone{margin:5px 20px 20px 0;}
.wp-caption.alignleft{margin:5px 20px 20px 0;}
.wp-caption.alignright{margin:5px 0 20px 20px;}
.wp-caption img{height:auto;width:auto;max-width:98.5%;border:0 none;margin:0;padding:0;}
.wp-caption p.wp-caption-text{font-size:11px;margin:0;padding:0 4px 5px;}

.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute;height:1px;width:1px;overflow:hidden;}
.screen-reader-text:focus{display:block;height:auto;width:auto;clip:auto;padding:15px 23px 14px;border-radius:3px;top:5px;left:5px;z-index:100000;font-size:14px;font-size:.875rem;font-weight:bold;text-decoration:none;color:#21759b;background-color:#f1f1f1;box-shadow:0 0 2px 2px rgba(0,0,0,.6);}
/*media queri*/
@media screen and (orientation:landscape){
    /*pc-style*/
    @media screen and (min-width:1920px){
        .info-card,.card{height:36vmin;width:64vmin;}
        .card img{max-height:30vmin;}
        .card img,.article-info{max-width:calc(64vmin / 2);}
    }
    @media screen and (min-height:721px){
    	.card{margin:2.5vmin 0;}
    	.article-list{display:-webkit-flex;display:flex;justify-content:space-around;align-items:baseline;-webkit-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-content:space-around;align-content:space-around;}
    	.info-card{height:30vmin;width:160vmin;margin:2vmin auto;}
        .hatenablogcard{max-width:60vw;margin:5vh 10vw;}
        .information,.question{width:80%;}
    }
    /*tablet-style*/
    @media screen and (max-height:720px){
    	.info-card{height:45vmin;width:80vmin;}
    	.card{font-size:1.2rem;margin:2.5vmin auto;box-shadow:0 0 15px rgba(0,0,0,0);}
        .card img{max-width:calc(80vmin * 2 / 5);}
        .card-info{max-width:calc(80vmin * 3 / 5);}
        .card h1,.card h2{font-size:2rem;}
        .hatenablogcard{max-width:70vw;margin:5vh 5vw;}
        .ogp-blogcard{border-width:2vmin;max-width:94%;}
        .ogp-blogcard-title{font-size:1.6rem;}
        .ogp-blogcard-description{display:none;}
        .information,.question{width:96%;}
        .article-date{font-size:2rem;}
    	/*article-table*/
    	.article-main table,.article-main table caption.article-main table thead,.article-main table tbody,.article-main table tr,.article-main table tr th,.article-main table tr td{display:block;}
    	.article-main table tr th,.article-main table tr td{margin:-1px;}
    	.article-main table thead{display:none;}
    	.article-main table tbody tr td[data-th]::before{content:attr(data-th) " : ";font-weight:bold;display:inline-block;margin-right:0.25em;}
    }
}
/*phone-size*/
@media screen and (orientation:portrait){
    @media screen and (max-width:1270px){
        .info-card{height:45vmin;width:80vmin;}
        .card{font-size:1.2rem;margin:2.5vmin auto;box-shadow:0 0 15px rgba(0,0,0,0);}
        .card img{max-width:calc(80vmin * 2 / 5);}
        .card-info{max-width:calc(80vmin * 3 / 5);}
        .card h1,.card h2{font-size:2rem;}
        .hatenablogcard{max-width:80vw;margin:5vh 0;}
        .ogp-blogcard{border-width:2vmin;max-width:94%;}
        .ogp-blogcard-title{font-size:1.3rem;}
        .ogp-blogcard-description{display:none;}
        .information,.question{width:96%;}
        .article-date{font-size:2rem;}
        /*article-table*/
        .article-main table,.article-main table caption.article-main table thead,.article-main table tbody,.article-main table tr,.article-main table tr th,.article-main table tr td{display:block;}
        .article-main table tr th,.article-main table tr td{margin:-1px;}
        .article-main table thead{display:none;}
        .article-main table tbody tr td[data-th]::before{content:attr(data-th) " : ";font-weight:bold;display:inline-block;margin-right:0.25em;}
    }
    @media screen and (max-width:450px){
        .search-form div{padding:3px 5px;font-size:75%;}
        .search-form .sform{min-width: 180px;}
        .search-form .sbtn{padding-left:5px;padding-right:10px;}
        .search-form .sbtn::after{font-size:20px;margin-left:-10px;}
    }
}
